@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "monserratR";
    src: url('../../public/fonts/Montserrat-Regular.ttf');
}
.modal 
{
    transition: all .4s linear;
    animation: modal .5s normal forwards ease-in;
}
@keyframes modal 
{
    0%{
        margin-top: -20rem;
    }
    100% {
        margin-top: 8rem;
    }
}
.animationLogo 
{
    animation: logo 2s infinite normal forwards ease-in
}

@keyframes logo {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}